numpy
pandas
matplotlib
plotly
opencv-python-headless
Pillow
scikit-learn
tensorflow-cpu
streamlit
streamlit-option-menu
streamlit-lottie
streamlit-extras
albumentations
seaborn
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
torchvision==0.15.2+cpu
tqdm
PyYAML
joblib
grad-cam
reportlab
