numpy
pandas
matplotlib
plotly
opencv-python-headless
Pillow
scikit-learn
tensorflow
keras
streamlit
streamlit-option-menu
streamlit-lottie
streamlit-extras
albumentations
seaborn
torch
torchvision
tqdm
PyYAML
joblib
grad-cam
reportlab